name: SQLite

on:
  push:
    branches:
      - "**"
    paths-ignore:
      - "art/**"
      - ".github/DISCUSSION_TEMPLATE/**"
      - ".github/ISSUE_TEMPLATE/**"
      - ".github/PULL_REQUEST_TEMPLATE.md"
      - "README.md"
      - "CONTRIBUTING.md"
  pull_request:
    types: [ready_for_review, synchronize, opened]
    paths-ignore:
      - "art/**"
      - ".github/DISCUSSION_TEMPLATE/**"
      - ".github/ISSUE_TEMPLATE/**"
      - ".github/PULL_REQUEST_TEMPLATE.md"
      - "README.md"
      - "CONTRIBUTING.md"

jobs:
  build:
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        php: [8.4, 8.3 ]
        laravel: [ 11.*, 12.* ]
        livewire: [ 3.*, 4.* ]
        dependency-version: [ prefer-stable ]

    name: PHP:${{ matrix.php }} / Laravel:${{ matrix.laravel }} / Livewire:${{ matrix.livewire }}

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Setup PHP, with composer and extensions
        uses: shivammathur/setup-php@v2
        with:
          php-version: ${{ matrix.php }}
          extensions: dom, curl, libxml, mbstring, zip, pcntl, pdo, sqlite, pdo_sqlite, bcmath, soap, intl, gd, exif, iconv
          tools: composer:v2
          coverage: none

      - name: Get composer cache directory
        id: composer-cache
        run: echo "dir=$(composer config cache-files-dir)" >> $GITHUB_OUTPUT

      - name: Cache composer dependencies
        uses: actions/cache@v4
        with:
          path: $(composer config cache-files-dir)
          key: dependencies-laravel-${{ matrix.laravel }}-livewire-${{ matrix.livewire}}-php-${{ matrix.php }}-composer-${{ hashFiles('composer.json') }}

      - name: Install Composer dependencies
        run: |
          composer require "laravel/framework:${{ matrix.laravel }}" "livewire/livewire:${{ matrix.livewire }}" --no-interaction --no-update
          composer install

      - name: Install openspout/openspout
        if: matrix.php == '8.2'
        run: composer require openspout/openspout

      - name: SQLite
        run: composer test:sqlite
